* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgba(22, 72, 79, 0.68);
}

.container {
  width: 900px;
  margin: 0 auto;
  border-radius: 40px;
  padding: 15px;
  letter-spacing: 1px;
}

h1 {
  color: #158e9e;
}

h2 {
  background-color: white;
  color: #158e9e;
  padding: 15px;
}

h3 {
  background-color: #027585;
  color: white;
  padding: 15px;
  text-decoration: underline;
  font-size: x-large;
}

p {
  color: #158e9e;
  padding: 15px;
  font-weight: 600;
  font-size: larger;
}

.box1 {
  width: 850px;
  height: 300px;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}
.one {
  background-color: white;
}

span {
  font-size: xx-large;
  text-align: center;
  color: white;
}

#box {
  width: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  background-color: white;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: x-large;
}
